.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem;
  background-color: white;
  &__button {
    font-weight: bold;
    padding: 1.1rem;
    border-radius: 3rem;
    border: none;
    color: white;
    background-color: black;
  }
  &__search {
    font-weight: bold;
    display: block;
    flex: auto;
    margin: 0 0.5rem;
    border-radius: 3rem;
    border: none;
    border: solid 0.4rem $ultra-lite-grey;
    background-color: $ultra-lite-grey;
    &:hover {
      border: solid 0.4rem $lite-grey;
      background-color: $lite-grey;
    }
    &:focus {
      border: solid 0.4rem rgb(25, 123, 252);
    }
  }
  &__select {
    font-weight: bold;
    padding: 1.1rem;
    border-radius: 3rem;
    border: none;
    color: white;
    background-color: black;
  }
}
