.background-window{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(2px);
}
  
.add-window{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: solid black;
    width: 30%;
    box-shadow: 3px 3px 15px;
}
  
.btn-choice-board{
    background-color: red;
    border-radius: 16px;
    padding: 3%;
    margin: 3%;
    box-shadow: 3px 3px 15px;
}

.btn-close{
    background-color: $lite-grey;
    align-self: flex-end;
    width: 50%;
    border-radius: 16px;
    padding: 3%;
    margin: 3%;
    box-shadow: 3px 3px 15px;
}
  
.choice-window{
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: solid black;
    box-shadow: 3px 3px 15px;
}
  
.choice-btn{
    padding: 3%;
    margin: 4%;
    border-radius: 16px;
    box-shadow: 3px 3px 15px;
    background-color: red;
}