html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@media (min-width: 375px) {
  .container {
    -webkit-column-count: 2 !important;
    column-count: 2 !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
  }
}
@media (min-width: 576px) {
  .container {
    margin-left: 0.5rem !important;
    -webkit-column-count: 3 !important;
    column-count: 3 !important;
  }
}
@media (min-width: 992px) {
  .container {
    margin-left: 0.1rem !important;
    margin-right: 0.1rem !important;
    -webkit-column-count: 5 !important;
    column-count: 5 !important;
  }
}
@media (min-width: 1200px) {
  .container {
    -webkit-column-count: 6 !important;
    column-count: 6 !important;
  }
}
@media (min-width: 1300px) {
  .container {
    -webkit-column-count: 6 !important;
    column-count: 6 !important;
    margin: 0 20px !important;
  }
}
@media (min-width: 1900px) {
  .container {
    margin-left: 2rem !important;
    -webkit-column-count: 7 !important;
    column-count: 7 !important;
  }
}
@media (min-width: 340px) {
  .header {
    display: block !important;
    display: -webkit-box !important;
  }
}
.header {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__button {
  padding: 10px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: black;
}
.header__search {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: 0 0.5rem;
  border-radius: 30px;
  border: solid 4px #d0d0d0;
  background-color: #d0d0d0;
}
.header__search:hover {
  border: solid 4px #bbbbbb;
  background-color: #bbbbbb;
}
.header__search:focus {
  border: solid 4px #197bfc;
}
.header__select {
  padding: 10px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: black;
}
.container {
  -webkit-column-count: 7;
  column-count: 7;
}
.card {
  display: inline-block;
  margin-top: 1rem;
}
.card__pictures {
  max-width: 100%;
  border: white;
  border-radius: 30px;
}
.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__avatars {
  width: 40px;
  height: 40px;
  border: 5px solid white;
  border-radius: 160px 160px 160px 160px;
}
.card__descriptions {
  margin-left: 0.5rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
/*# sourceMappingURL=main.min.css.map */
